.App {
  text-align: center;
}

.app {
  &__container {
    padding: 30px;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    gap: 15px;
  }
}

.parallax-bkg{
  position: absolute;
  transform: scale(1.2);
  height: 100%;
  filter: blur(2px);
}

.parallax {
  z-index: 99;
}